.restaurant-information-wrapper {
  overflow: hidden;
  background-color: white;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;

  .information-row {
    height: calc(100vh - 75px);
  }
  .title {
    color: #F0000F;
  }
  .image-container {
    background-image: url("./assets/restaurant-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    position: relative;
    margin-bottom: 50px;
    background-clip: content-box;
    img {
      position: absolute;
      bottom: -15px;
      right: 0;
      left: 0;
      width: 110px;
      height: 110px;
      margin: auto;
      border: 1.5px solid rgba(255,255,255,0.7);
    }
  }

  .bill-send {
    background-image: url("./assets/pin-background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
    .stat-wrapper {
       margin-top: 2rem;
    }

  .rating {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0;
  }

  .rating-container {
    text-align: center;
  }

  .restaurant-description-box {
    width: 84%;
    height: 100px;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #e43324;
    color: white;
  }


  .white-color {
    color: white;
    z-index: 1;
  }

  .description-container {
    text-align: center;
  }
}
