<bill-info-popup *ngIf="isModalOpened" (closeModal)="isModalOpened = false" [ticketPayableData]="billInformation"
                 [currentUser]="currentUser" [billSummary]="billSummary" [type]="'step-2'" [subticketId]="subticketId"></bill-info-popup>
<info-popup *ngIf="isInfoModalOpened" (closeModal)="isInfoModalOpened = false" [billSummary]="billSummary"
            [currentUser]="currentUser"></info-popup>
<div class="bill-information-wrapper row">
    <div class="row top-images-container">
        <div class="col col-6 restaurant-image tx-center bill-information-top-image">
            <img class="image" [src]="restaurant.image" alt="">
        </div>
        <div class="col col-6 bill-image tx-center bill-information-top-image">
            <img class="image smetka-image" alt="" (click)="openBillInfoModal()">
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table table-striped bill-table">
            <tbody>
            <tr *ngFor="let item of billList; let i = index">
                <td class="button confirm-pay pink-button" [class.disabled]="!item.isSelectEnabled" (click)="initSubticketPerItem(item.id)"><span
                        class="white-check"></span></td>
                <td [class.blue-mode]="!item.isShareEnabled" (click)="openBillInformationPopup(i)">
                    <div *ngIf="item.unit">
                        {{item.title}} {{item.quantity}}{{item.unit}}
                    </div>
                    <div *ngIf="!item.unit">
                        {{item.title}}
                    </div>
                    <span>{{item.description}}</span>
                </td>
                <td class="entry-total-price blue-mode">{{(item.payableData.price / 100)}} лв.</td>
                <td (click)="goToEditModePerItem(item.id)" class="button confirm-pay pink-button"
                    [class.disalbed]="!item.isExpandEnabled">
                    <span class="white-arrow-right"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="button-wrapper">
        <div class="button pay-button float-left">
            <div class="margin-left-10 float-left">Мoята сметка: {{myBill}}</div>
            <div (click)="goToPayScreen()" class="float-right margin-right-10">ПЛАТИ</div>
        </div>
    </div>
</div>
