.pay-with-card-container {
  margin: 0 -15px !important;
  height: calc(100vh - 75px);
  background-color: white;
  background-image: url("./assets/images/new-backgorund.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: bottom;

  font-size: 18px;

  p {
    margin-bottom: 0;
  }
  .total-bill {
    color: #98B957;
    font-size: 24px;
    font-weight: bold;
  }
  .info-wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .edit-button {
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    height: 45px;
  }
  input {
    width: 100%;
    border-radius: 5px;
    height: 45px;
  }

  .right-border-input {
    border-radius: 0 5px 5px 0;
  }

  .left-border-input {
    border-radius: 5px 0 0 5px;
  }

  .row-container {
    margin-bottom: 20px;
  }

  .tooltip-input{
    position: relative;
    &:before {
     content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 10px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-image: url("./assets/images/question_mark.jpeg");
      background-position: center;
      background-size: 42px;
      pointer-events: none;
    }
  }

  .question-mark-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url("./assets/images/question_mark.jpeg");
    background-position: center;
    background-size: 42px;
    cursor: pointer;

  }
  .submit-payment {
    background-color: $buttonBlue;
    height: 45px;
    border: none;
    color: white;
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  button {
    cursor: pointer!important;
  }
}

.card-payment-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.card-icon {
  display: inline-block;
  width: 60px;
  height: 35px;
  background-size: cover;
  margin: 0 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-position: center;


  &.american-express {
    background-image: url("./assets/images/american_express.jpg");
  }
  &.visa {
    background-image: url("./assets/images/visa.jpg");
  }
  &.discover {
    background-image: url("./assets/images/discover.png");
  }
  &.mastercard {
    background-image: url("./assets/images/mastercard.jpg");
  }
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

