<div class="pay-with-card-container">
    <div class="info-wrapper">
        <p>Payment amount</p>
        <div class="row-container">
            <span class="total-bill">{{totalBill.toFixed(2)}} лв.</span>
            <button class="edit-button float-right">Edit</button>
        </div>
        <div class="row-container">
            <p>Name on card</p>
            <input type="text">
        </div>
        <div class="row-container">
            <p>Card number</p>
            <input type="text">
        </div>
        <div class="row-container clearfix">
            <span class="half-width float-left">
                <p>Expiry date</p>
                <input type="text " class="left-border-input">
            </span>
            <span class="half-width float-left">
                <p>Security code</p>
                <input type="text " class="right-border-input">
            </span>
        </div>
        <div class="row-container">
            <p>ZIP / Postal code</p>
            <input type="text">
        </div>

    </div>
    <button class="submit-payment">Плащане</button>

</div>