$buttonGreen: #9ab956;
$buttonBlue: #6bc7f0;
.bill-information-wrapper {
  background-color: white;
}
.smetka-image {
  background-image: url("./assets/login-logo.png");
  background-size: cover;
  background-repeat: no-repeat;

}
.bill-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.background-image {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 214px;
  background-image: url("./assets/images/new-backgorund.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.pay-button {
  width: 100%;
  background-color: $buttonGreen;
}
.pink-button {
  background-color: #cd4799
}

.blue-button {
  background-color: $buttonBlue;
}

.restaurant-image {
    z-index: 1;
  border-right: 1px solid lightgray;
}

.bill-image-container {
  width: 100%;
  text-align: center;
}

.button-wrapper {
  position: fixed;
    z-index: 1;
  bottom: 0px;
  width: 100%;
}

.button-wrapper.payment-screen{
  bottom: 0;
}

.confirm-pay {
  width: 15%;
}

.price-image {
  padding: 0 10px;
  width: 70%;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.bill-information-pay-screen {
  height: 80px;
    padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.green-button {
  background-color: $buttonGreen;
}

.payment-method-button {
  width: 50%;
  text-align: center;
}

.table-wrapper {
    z-index: 0;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 90px;
    height: 750px;
    background-color: white;
    overflow-y: scroll;
    background-image: url("./assets/images/new-backgorund.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: bottom;
}

.bill-information-top-image {
  padding: 20px;
  img {
    width: 60px;
    height: 60px;
  }
}

.bill-image {
    z-index: 1;
}

.top-images-container {
    width: 100%;
    z-index: 1;
    margin-left: 0 !important;
    background-color: white;
    position: fixed;
}

.remove-container {
    display: flex;
    align-items: flex-end;
    height: 73px;
    .remove-button {
       display: flex;
        color: red;
        font-size: 12px;
        cursor: pointer;
    }
}

.entry-total-price {
    vertical-align: bottom !important;
    font-weight: bold;
    text-align: right;
}

.info-icon {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url("./assets/images/info-icon.png");
    background-size: cover;
    vertical-align: middle;
    cursor: pointer;
}
.tip-input {
    width: 50%;
    &:focus { outline:none; }
}

.white-arrow-right {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("./assets/images/white-arrow.png");
  background-size: cover;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.white-check {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("./assets/images/white-check.png");
  background-size: cover;
  vertical-align: middle;
  cursor: pointer;
}

.info-icon-container{
    width: 23px;
    text-align: center;
    vertical-align: middle !important;
}

.half-width { width: 50%; }

.blue-mode {
  background-color: $buttonBlue;
  color: white;
}

.basic-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(#2c3e50, 0.7);
}

.modal-overlay {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
