<div class="bill-information-wrapper row">
  <div class="background-image"></div>
    <div class="col col-6 restaurant-image tx-center">
        <img class="image" [src]="restaurant.image" alt="">
    </div>
    <div class="col col-xs-6 bill-image tx-center">
      <img class="image" [src]="restaurant.image" alt="">
    </div>
  <table class="table table-striped bill-table">
    <tbody>
    <tr>
      <td>john@example.com</td>
      <td>Doe</td>
    </tr>
    <tr>
      <td>mary@example.com</td>
      <td>Moe</td>
    </tr>
    </tbody>
  </table>
  <div class="button-wrapper">
    <div class="button confirm-pay pink-button float-left"></div>
    <div class="button blue-button float-left price-image"></div>
    <div class="button confirm-pay pink-button float-left"></div>
    <div class="button pay-button"></div>
  </div>
</div>
