.bill-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.background-image {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 214px;
  background-image: url("./assets/images/new-backgorund.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.pay-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #9ab956;
}
.pink-button {
  background-color: #cd4799
}

.blue-button {
  background-color: #6bc7f0;
}

.restaurant-image {
  border-right: 1px solid lightgray;
}

.bill-image-container {
  width: 100%;
  text-align: center;
}

.bill-table {
  margin-top: 20px;
}

.button-wrapper {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

.confirm-pay {
  width: 15%;
}

.price-image {
  width: 70%;
}
