<bill-info-popup *ngIf="isModalOpened" (closeModal)="close()" [ticketPayableData]="billInformation"
                 [currentUser]="currentUser" [billSummary]="billSummary" [type]="'main-screen'"></bill-info-popup>
<info-popup *ngIf="isInfoModalOpened" (closeModal)="isInfoModalOpened = false" [billSummary]="billSummary"
            [currentUser]="currentUser"></info-popup>
<div class="bill-information-wrapper row">
    <div class="col col-6 restaurant-image tx-center bill-information-top-image">
        <img class="image" [src]="restaurant.image" alt="">
    </div>
    <div class="col col-6 bill-image tx-center bill-information-top-image">
        <img class="image smetka-image" alt="" (click)="openInfoPopup()">
    </div>
    <div class="table-wrapper" [class.paymode]="isPayMode">
        <table class="table table-striped bill-table">
            <tbody>
            <tr *ngFor="let item of billList; let i = index">
                <td class="button confirm-pay pink-button" *ngIf="isEditMode"><span class="white-check"></span></td>
                <td [class.blue-mode]="isEditMode">
                    <div *ngIf="item.unit">
                        {{item.title}} {{item.quantity}}{{item.unit}}
                    </div>
                    <div class="menu-item-title" *ngIf="!item.unit">
                        {{item.title}}
                    </div>
                    <span>
          {{item.quantity}} x {{(item.price/100) | number: '1.2'}} лв.
        </span>
                </td>
                <td *ngIf="isPayMode" class="remove-container">
                    <div class="remove-button" (click)="removeEntry(i)">Премахни</div>
                </td>
                <td class="entry-total-price" [class.blue-mode]="isEditMode">{{(item.totalPrice/100)}} лв.
                </td>
                <td *ngIf="isPayMode" class="info-icon-container"><span class="info-icon"></span></td>
                <td *ngIf="isEditMode" (click)="goToEditModePerItem(i)" class="button confirm-pay pink-button"><span
                        class="white-arrow-right"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <ng-template [ngIf]="!isPayMode && !isEditMode">
            <div class="col-2 button confirm-pay pink-button float-left pointer" [class.disabled]="!isSelectEnabled"
                 (click)="initTicket()">
                <span class="white-check"></span>
            </div>
            <div class="col-8 button blue-button float-left price-image pointer" [class.disabled]="!isShareEnabled"
                 (click)="openBillInfoModal()">
                ОБЩA СМЕТКА: {{totalBill}}
            </div>
            <div class="col-2 button confirm-pay pink-button float-left" [class.disabled]="!isExpandEnabled"
                 (click)="navigateToSecondStepBill()">
                <span class="white-arrow-right"></span></div>
            <div class="col-12 button pay-button float-left">
                <div class="margin-left-10 float-left">Мoята сметка: {{myBill}}</div>
                <div (click)="goToPayScreen()" class="float-right margin-right-10">ПЛАТИ</div>
            </div>
        </ng-template>
        <div class="col-12 paymode-buttons" *ngIf="isPayMode">
            <div class="clearfix bill-information-pay-screen">
                <div class="half-width">
                    <div>Бакшиш:</div>
                    <div>
                        <input type="text" class="tip-input" placeholder="00,00лв">
                    </div>
                </div>
                <div class="half-width">
                    <div>Общо:</div>
                    <strong>{{totalBill}}</strong>
                </div>
            </div>
            <div class="clearfix">
                <div class="button green-button payment-method-button float-left">В БРОЙ</div>
                <div class="button blue-button payment-method-button float-left" (click)="goToPayWithCard()">С КАРТА</div>
            </div>
        </div>
</div>
