<div class="popup-content">
    <div class="bill-info-wrapper">
        <div class="dash-bt-border header"> ОБЩА СМЕТКА: {{totalBill}}</div>
        <div class="widget-container dash-bt-border">
            Участници:
            <div class="participants-container">
                <div class="participant"
                     [class.self]="participant.id == currentUser.id"
                     [class.selected]="participant.selected"
                     [ngClass]="currentUser.hasShares ? 'participant-has-shares': 'participant-no-shares'"
                     *ngFor="let participant of participants; let i = index"
                     (click)="toggleSelectedParticipant(i)"
                >
                    {{participant.id}}
                </div>
            </div>
        </div>
        <div class="widget-container dash-bt-border">
            Дялове:
            <div class="shares-container">
                <div class="share"
                     [class.self]="share.self"
                     [class.selected]="share.selected"
                     [class.disabled] = "isDistributionSet"
                     *ngFor="let share of shares; let i = index"
                     (click)="toggleSelectedShareCount(i)"
                >
                    {{share.totalParts}}
                </div>
            </div>
        </div>
        <div class="header">Дялове за мен:</div>
        <div class="test">
            <div class="share-slider-container">
                <div class="slider"></div>
            </div>
        </div>
        <div class="share-options-wrapper">
            <div *ngFor="let shareOption of shareOptions; let i = index"
                 (click)="setSharesForSelf(i)"
                 [class.selected]="shareOption.selected"
            >
                {{shareOption.totalParts}}
            </div>
        </div>
    </div>

    <div class="button-wrapper">
        <div class="button confirm-pay pink-button float-left" (click)="initOrUpdateTicket()" [class.disabled]="!canApply">
            <span class="white-check"></span>
        </div>
        <div class="button blue-button float-left price-image">
            Моят дял: {{totalPriceString}}
        </div>

        <div class="button pay-button float-left">
            <div class="margin-left-10 float-left">Мoята сметка: {{myBill}}</div>
            <div (click)="goToPayScreen()" class="float-right margin-right-10">ПЛАТИ</div>
        </div>
    </div>
</div>
