<div class="bill-code row">
  <div class="col-6">
    <input #idInput type="text" placeholder="Код на сметка">
  </div>
  <div class="col-6">
    <input #passwordInput type="text" placeholder="Парола">
  </div>
  <div class="confirm-button pointer" (click)="sendJoinRequest(idInput.value, passwordInput.value)"></div>
</div>
<ng-template [ngIf]="restaurantList">
  <div class="restaurant-listing row">
    <div class="col col-12 restaurant-wrapper pointer" *ngFor="let restaurant of restaurantList"
         (click)="navigateToRestaurant(restaurant)">
      <div class="row">
        <div class="col col-3 image-container">
          <img class="image" [src]="restaurant.logoUrl" alt="">
        </div>
        <div class="col col-7 restaurant-main-info">
          <div class="title">{{restaurant.name}}</div>
          <div class="address text-gray">{{restaurant.address}}</div>
          <div class="row stat-wrapper">
            <div class="col-4 rating-container">
              <span class="text-gray stats">Рейтинг:</span>
              <span class="rating">{{restaurant.rating.foodQuality}}</span>
            </div>
            <ul class="col-8 rating-container description-list">
              <li class="text-gray stats"><span>Храна:</span><span> {{restaurant.rating.foodQuality}}</span></li>
              <li class="text-gray stats"><span>Обстановка:</span><span> {{restaurant.rating.atmosphere}}</span></li>
              <li class="text-gray stats"><span>Обслужване:</span><span> {{restaurant.rating.serviceQuality}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col col-2 right-arrow-wrapper">
          <div class="right-arrow"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
