/* You can add global styles to this file, and also import other style files */
@import './colors';
@import './app/restaurant-listing/restaurant-listing.component.scss';
@import './app/restaurant-information/restaurant-information.component.scss';
@import './app/bill-information/bill-infromation.component';
@import './app/top-navigation/top-navigation.component';
@import './app/login-screen/login.component';


body {
  background-color: #6bc7f0 !important;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  box-sizing: border-box;
}

.text-gray {
  color: #a2a2a2;
}

ul {
  margin-bottom: 0 !important;
}

.pointer {
  cursor: pointer;
}

.image {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.address {
  font-size: 14px;
}

.stats {
  font-size: 11px;
  padding-bottom: 10px;
}

.rating-container {
  display: inline-block;
  vertical-align: middle;
}

.dash-bt-border {
  border-bottom: 1px dashed #c9c9c9;
}

.description-list {
  padding-left: 20px;
}

.rating {
  height: 10px;
  width: 10px;
  line-height: 10px;
  padding: 8px;
  margin-left: 5px;
  background-color: $lightGreen;
  border-radius: 50%;
  font-weight: 600;
  color: white;
}

.tx-center {
  text-align: center;
}

.button {
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
}

button:disabled {
  background-color: #C4C4C4;
}

.disabled {
  background-color: #C4C4C4;
}


